docopt==0.6.2
bob-builder==0.0.17
boto==2.48.0
Flask==0.12.2
gunicorn==19.0.0
pandas==0.22.0
matplotlib==2.2.2
numpy==1.15.4
plotly==3.4.1
SQLAlchemy==1.2.14
seaborn==0.9.0
scikit-learn
flask_sqlalchemy
psycopg2==2.5.2

