
<html lang="en">
<body style="background-image: url(./static/eau4.jpg); background-size: 100%;">
</body>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
</head>
<body>
   
   

	<form action = "{{url_for('addrec')}}" method = "POST">

		<h3>Saisie Mesures</h3>
		Date<br>
		<input  id="datepicker" type="text"  name = "Date" required/></br>


		Heure<br>
		<input type="time" id="appt" name="Heure" required/></br>

		Bassin<br>
		<input type = "text" name = "Bassin" value="GB" onFocus="this.value='';" required/></br>

		Transparence<br>
		
        <select> type = "text" name="Transparence"><br> 
	    <OPTION> Clair </option>
		<OPTION> Trouble </option>
        </select><br> 

		Temperature_de_l_eau<br>
		<select> type = "text" name="Temperature_de_l_eau"><br> 
	    <OPTION> 27.1 </option>
		<OPTION> 27.2 </option>
		<OPTION> 27.3 </option>
		<OPTION> 27.4 </option>
		<OPTION> 27.5 </option>
		<OPTION> 27.6 </option>
		<OPTION> 27.7 </option>
		<OPTION> 27.8 </option>
		<OPTION> 27.9 </option>
		<OPTION> 28 </option>
		<OPTION> 28.1 </option>
		<OPTION> 28.2 </option>
		<OPTION> 28.3 </option>
		<OPTION> 28.4 </option>
		<OPTION> 28.5 </option>
		<OPTION> 28.6 </option>
		<OPTION> 28.7 </option>
		<OPTION> 28.8 </option>
		<OPTION> 28.9 </option>
		<OPTION> 29.1 </option>
		<OPTION> 29.2 </option>

        </select><br> 
		

		pH<br>
		<input type = "number" name = "pH" required/></br>

		DPD_1<br>
		<input type = "number" name = "DPD_1" required/></br>

		DPD_3<br>
		<input type = "number" name = "DPD_3" required/></br>

		combine<br>
		<input type = "text" name = "combine" value="Ce champ sera calculé"required/></br>

		libre_actif<br>
		<input type = "text" name = "libre_actif" value="Ce champ sera calculé"required/></br>

		compteur<br>
		<input type = "number" name = "compteur" required/></br>

		<input type = "submit" value = "valider" required/><br>
		
	</form>
</body>
{% include 'partials/_nav.html' %}

</html>
