
<html lang="en">
<body style="background-image: url(./static/eau4.jpg); background-size: 100%;">
</body>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Data Record</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/moncss24.css') }}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
  <SCRIPT LANGUAGE="JavaScript">
	var maintenant=new Date();
	var heure=maintenant.getHours();
	var minute=maintenant.getMinutes();
	document.getElementById('appt').value= document.write("Heure locale : " ,heure,":",minute);
</SCRIPT>
	
<SCRIPT LANGUAGE="JavaScript">
$(function(){     
  var d = new Date(),        
      h = d.getHours(),
      m = d.getMinutes();
  if(h < 10) h = '0' + h; 
  if(m < 10) m = '0' + m; 
  $('input[type="time"][value="now"]').each(function(){ 
    $(this).attr({'value': h + ':' + m});
  });
});
</script>
<script>
	$(function(){     
  var n = new Date(),        
      annee = n.getFullYear();
	  mois = n.getMonth() + 1;
	  jour = n.getDate();
  $('input[type="text"][name="Date"][value="now"]').each(function(){ 
    $(this).attr({'value': jour + '/' + mois + '/' + annee});
  });
});
</script>
</head>
<body>
	<form method=POST  action="{{ url_for('addmesures') }}">
		<h3>Saisie des indicateurs</h3>
		Date<br>
		<input  id="datepicker" type="text"  name = "Date" value="now"/ required></br>


		Heure<br>
		<input type="time" id="appt" name="Heure" value='now'/ required></br>

		Bassin<br>
		<input type = "text" name = "Bassin" value="GB" onFocus="this.value='';" required></br>
		Transparence<br>
		
        	<select type = "text" name="Transparence" id="idTransparence"> 
	    	<OPTION selected> Clair 
		<OPTION> Trouble
        	</select></br>
			
		Temperature de l'eau<br>
		<input type = "text" name="Temperature_de_l_eau"  id="idTemperature_de_l_eau" onblur="calculatel()" required></br> 
		
		pH<br>
		<input type = "text"  name = "pH" id ="idpH" onblur="calculate()" required></br>
		DPD 1<br>
		<input  type="text" name="DPD_1" id="idDPD_1" onblur="calculate()" required></br>

		DPD 3<br>
		<input type="text" name= "DPD_3" id="idDPD_3" onblur="calculate()" required></br>

		Chlore Combiné<br>
		<input type="text" name="combine" id="idcombine" readonly></br>	
			

		Chlore libre actif<br>
		<input type = "text" name = "libre_actif" id ="idlibre_actif" readonly></br> 

		Compteur<br>
		<input type = "text" name = "compteur" required></br>
		<br />
		<input type = "submit" value = "valider" required><br>


  	</form>
	<script>


function calculate()
{
	 DPD_3= document.getElementById("idDPD_3").value;
	 DPD_1= document.getElementById("idDPD_1").value;

	 var combine = DPD_3-DPD_1;
	 document.getElementById('idcombine').value= combine.toFixed(2);
	 Temperature_de_l_eau=document.getElementById("idTemperature_de_l_eau").value;
    	 pH=document.getElementById("idpH").value;
	
    	 a = 0.00011047619
    	 b = -0.0140047619
     	 c = 7.72062393
	
   	 pKa = a*(Temperature_de_l_eau**2) + b*Temperature_de_l_eau + c
   	 coeff = 100/(1+10**(pH-pKa))
	 var libre_actif = DPD_1*coeff/100;
   	 document.getElementById('idlibre_actif').value=libre_actif.toFixed(2);

   } </script>

{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert {{ category }}"> {{ message|capitalize }} </div>
    {% endfor %}
  {% endif %}
{% endwith %}
{% endblock %}

<script type="text/javascript">
$(document).ready(function() {
setTimeout(function() {
    $('.alert').fadeOut('slow');
}, 1000); // <-- time in milliseconds
});
</script>

</body>
{% include 'partials/_nav.html' %}

