<!doctype html>
<html>
<body>
	<table border = 1>
		<thead>
			<td>Date</td>
			<td>Heure</td>
			<td>Bassin</td>
			<td>Transparence</td>
			<td>temperature_de_l_eau</td>
			<td>pH</td>
			<td>DPD_1</td>
			<td>DPD_3</td>
			<td>Combine</td>
			<td>Libre_Actif</td>
			<td>Compteur</td>

		</thead>
		{% for row in rows %}
		<tr>
			<td>{{row["Date"]}}</td>
			<td>{{row["Heure"]}}</td>
			<td>{{row["Bassin"]}}</td>
			<td> {{ row["Transparence"]}}</td>
			<td>{{row['temperature_de_l_eau']}}</td>
			<td>{{row["pH"]}}</td>
			<td>{{row["DPD_1"]}}</td>
			<td>{{row["DPD_3"]}}</td>
			<td>{{row["Combine"]}}</td>
			<td>{{row["Libre_Actif"]}}</td>
			<td>{{row["Compteur"]}}</td>

		</tr>
		{% endfor %}
	</table>
<a href = "/">Aller page accueil</a>
</body>

{% include 'partials/_nav.html' %}


	<h1>Database</h1>
</html>