<!doctype html>
<html>
<body>
	<table border = 1>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/moncss24.css') }}">
		{% include 'partials/_nav.html' %}
		<thead>
			<td>Date</td>
			<td>Heure</td>
			<td>Frequentation</td>
			<td>Bassin</td>
			<td>Transparence</td>
			<td>Temperature de l'eau</td>
			<td>pH</td>
			<td>DPD 1</td>
			<td>DPD 3</td>
			<td>Chlore Combiné</td>
			<td>Chlore libre actif</td>
			<td>Compteur</td>

		</thead>
		{% for Post in indic %}
		<tr>
			<td>{{Post.Date}}</td>
			<td>{{Post.Heure}}</td>
			<td>{{Post.Frequentation}}</td>
			<td>{{Post.Bassin}}</td>
			<td> {{Post.Transparence}}</td>
			<td>{{Post.Temperature_de_l_eau}}</td>
			<td>{{Post.pH}}</td>
			<td>{{Post.DPD_1}}</td>
			<td>{{Post.DPD_3}}</td>
			<td>{{Post.combine}}</td>
			<td>{{Post.libre_actif}}</td>
			<td>{{Post.compteur}}</td>

		</tr>
		{% endfor %}
	</table>
	<li><a href="/supprimer">Supprimer l'enregistrement</a>	</li>
</body>

{% include 'partials/_nav.html' %}

</html>
